PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=cCPCi_ef6tTCIp-GtG_qz_e9Nm3owcuY
APP_NAME=SawalBemisaal
DB_CONNECTION=pg
PG_HOST=sawalbemisaal.c8nec2l1j3xf.ap-south-1.rds.amazonaws.com
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=Sawal1987
PG_DB_NAME=sawalbemisaal
